@import "tailwindcss";

html {
    scroll-behavior: smooth;
}
.fade-in {
transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}
.fade-in.visible {
opacity: 1;
transform: translateY(0);
}
.fade-in-icon {
opacity: 0;
transform: translateY(10px);
transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.fade-in-icon.visible {
opacity: 1;
transform: translateY(0);
}